<header class="header">
	<div class="header__container">
		<nav class="header__nav nav">
			<ul class="nav__list">
				<li class="nav__item"><a class="nav__link nav__link--active" href="#">Home</a></li>
				<li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Our Journal</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Projects</a></li>
				<li class="nav__item"><a class="nav__link" href="#">news</a></li>
				<li class="nav__item"><a class="nav__link" href="#">features</a></li>
				<li class="nav__item"><a class="nav__link" href="#">contact</a></li>
			</ul>
		</nav>
		<button class="header__burger burger" type="button">
			<span class="burger__lines"></span>
		</button>
	</div>
</header>