<main class="sections">
	<div class="sections__intro intro">
		<div class="intro__container container">
			<img class="intro__img" src="@img/intro-img.png" alt="intro image">
		</div>
	</div>
	<section class="sections__posts posts">
		<div class="posts__container container">
			<h2 class="posts__title title">our Recent posts</h2>
			<div class="posts__list">
				<a href="#" class="posts__item post-block">
					<div class="post-block__pic">
						<img class="post-block__img" src="@img/post1img.png" alt="post #1">
					</div>
					<div class="post-block__content">
						<div class="post-block__title">Aenean Adipiscing Etiam Vestibulum</div>
						<div class="post-block__meta">
							<div class="post-block__author">Photography,
								<span class="post-block__author--name">Journal</span>
							</div>
							<div class="post-block__comments"><span class="post-block__comments--number">9 </span>Comments
							</div>
						</div>
						<p class="post-block__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
							sem lacinia quam venenatis vestibulum.</p>
					</div>
				</a>
				<a href="#" class="posts__item post-block">
					<div class="post-block__pic">
						<img class="post-block__img" src="@img/post2img.png" alt="post #3">
					</div>
					<div class="post-block__content">
						<div class="post-block__title">Aenean Adipiscing Etiam Vestibulum</div>
						<div class="post-block__meta">
							<div class="post-block__author">Photography,
								<span class="post-block__author--name">Journal</span>
							</div>
							<div class="post-block__comments"><span class="post-block__comments--number">9 </span>Comments
							</div>
						</div>
						<p class="post-block__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
							sem lacinia quam venenatis vestibulum.</p>
					</div>
				</a>
				<a href="#" class="posts__item post-block">
					<div class="post-block__pic">
						<img class="post-block__img" src="@img/post3img.png" alt="post #2">
					</div>
					<div class="post-block__content">
						<div class="post-block__title">Aenean Adipiscing Etiam Vestibulum</div>
						<div class="post-block__meta">
							<div class="post-block__author">Photography,
								<span class="post-block__author--name">Journal</span>
							</div>
							<div class="post-block__comments"><span class="post-block__comments--number">9 </span>Comments
							</div>
						</div>
						<p class="post-block__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
							sem lacinia quam venenatis vestibulum.</p>
					</div>
				</a>
				<a href="#" class="posts__item post-block">
					<div class="post-block__pic">
						<img class="post-block__img" src="@img/post4img.png" alt="post #4">
					</div>
					<div class="post-block__content">
						<div class="post-block__title">Aenean Adipiscing Etiam Vestibulum</div>
						<div class="post-block__meta">
							<div class="post-block__author">Photography,
								<span class="post-block__author--name">Journal</span>
							</div>
							<div class="post-block__comments"><span class="post-block__comments--number">9 </span>Comments
							</div>
						</div>
						<p class="post-block__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
							sem lacinia quam venenatis vestibulum.</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="sections__instagram instagram">
		<div class="instagram__container container">
			<div class="instagram__top">
				<h2 class="instagram__title title">
					<span class="instagram__title--count">Latest Instagram Shots</span>
					<!-- <span class="instagram__title--no-count">Last Instagram Shot</span> -->
				</h2>
				<a href="#" class="instagram__account-link">go to our instagram page</a>
			</div>
			<div class="instagram__list">
				<a class="instagram__item" href="#">
					<img class="instagram__img" src="@img/post-1.png" alt="insta shot 1">
				</a>
				<a class="instagram__item" href="#">
					<img class="instagram__img" src="@img/post-2.png" alt="insta shot 2">
				</a>
				<a class="instagram__item" href="#">
					<img class="instagram__img" src="@img/post-3.png" alt="insta shot 3">
				</a>
				<a class="instagram__item" href="#">
					<img class="instagram__img" src="@img/post-4.png" alt="insta shot 4">
				</a>
			</div>
		</div>
	</section>
</main>