.footer {
	background-color: #000;
	color: $textColorFooter;
	padding: rem(39) 0 rem(47);
	&__container {
		text-align: center;
		font-size: rem(12);
		line-height: rem(20);
	}
	&__title {
		color: $textColorFooterTitle;
		font-size: rem(14);
		margin-bottom: rem(5);
		&:after {
			content: '-';
			margin-left: rem(5);
		}
	}
	&__text {
		margin: 0 auto rem(22);
		max-width: rem(303);
		&--table {
			display: none;
		}
	}
	&__social {
		margin-bottom: rem(20);
	}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: rem(22) auto rem(22);
	gap: rem(5);
	&__link {
		width: rem(34);
		height: rem(34);
		border-radius: 50%;
		outline: 2px solid;
		outline-offset: -2px;
		background-position: center;
		background-repeat: no-repeat;
		transition: background-color .3s;
	}
		&__link--rss {
		background-image: url("../../img/icons/RSS.png");
		outline-color: #F8902E;
	}
		&__link--facebook {
		background-image: url("../../img/icons/Facebook.png");
		outline-color: #39599F;
	}
		&__link--twitter {
		background-image: url("../../img/icons/Twitter.png");
		outline-color: #45B0E3;
	}
		&__link--dribbble {
		background-image: url("../../img/icons/Dribbble.png");
		outline-color: #D97AB0;
	}
		&__link--pinterest {
		background-image: url("../../img/icons/Pinterest.png");
		outline-color: #CC212C;
		}
}

.contacts {
	margin: 0 auto;
	max-width: rem(192);
	&>*:not(:last-child)::after {
		content: '/';
		margin-left: rem(12);
	}
	&>*:not(:last-child) {
		margin-right: rem(10);
	}
	& &__address,
	& &__phone,
	& &__email {
		transition: color .3s;
		white-space: nowrap;
		font-size: rem(14);
		line-height: rem(24);
	}
	&>*:hover {
		color: $textColorHover;
	}
	&>*::after,
	&>*:hover::after {
		color: $textColorFooter;
	}
	
}
}

@media (min-width: $phone) {
	.footer {
		padding: rem(55) 0 rem(56);
		&__cntainer {
			font-size: rem(16);
			line-height: rem(28);
		}
		&__title {
			font-size: rem(16);
			margin-bottom: rem(13);
		}
		&__text {
			max-width: rem(684);
			margin: 0 auto rem(29);
			&--table {
					display: inline;
			}
		}
		&__social {
			margin-bottom: rem(34);
		}

	.contacts {
		max-width: 100%;
		& &__address,
		& &__phone,
		& &__email {
			font-size: rem(16);
			line-height: rem(26);
		}
	}
	}
}

@media (min-width: $ultra) {
	.footer {
		padding: rem(64ww) 0 rem(70);
	}
}

