.header {
	padding: rem(23) 0;
	background-color: $colorMainBright;
	&__container {
		position: relative;
	}
	&__nav {
		z-index: 5;
		position: absolute;
		top: 100%;
		right: $containerPadPhone;
	}
	&__burger {}
}

.nav {
	width: rem(182);
	background-color: #F5F5F5;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, top .3s;
	&.nav--open {
		visibility: visible;
		opacity: 1;
		top: 100%;
	}
	&__link {
		display: block;
		text-transform: uppercase;
		color: $textColorTitle;
		letter-spacing: 1.1px;
		font-size: rem(11);
		transition: color .3s;
		padding: rem(5) rem(13) rem(3);
		&.nav__link--active {
			color: $textColorHover;
		}
		&:active {
			background-color: $bgMenuActive;
		}
	}
}

.burger {
	display: block;
	position: relative;
	width: rem(44);
	height: rem(37);
	margin-left: auto;
	z-index: 5;
	background-color: $colorMainDark;
	&__lines,
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: rem(17);
		height: rem(2);
		background-color: $colorMainBright;
		transition: all 0.3s ease 0s;
		left: 50%;
		transform: translateX(-50%);
	}
	&::before {
		transform: translate(-50%, -4px);
	}
	&::after {
		transform: translate(-50%, 4px);
	}
	&.burger--active {
		.burger__lines {
			width: 0;
		}
		&::before {
			transform: translate(-50%, 0) rotate(-45deg);
		}
		&::after {
			transform: translate(-50%, 0) rotate(45deg);
		}
	}
}

@media (min-width: $phone) {
	.header {
		&__nav {
			right: $containerPadTablet;
	}
	.nav {
		&__link {
			text-transform: uppercase;
			color: $textColorTitle;
			letter-spacing: 1.1px;
			font-size: rem(11);
			transition: color .3s;
		}
	}
}
}

@media (min-width: $tablet) {
	.header {
		padding: rem(41) 0 rem(43);
		&__nav {
			position: static;
			visibility: visible;
			opacity: 1;
		}
		&__burger {
			display: none;
		}
	}
	.nav {
		width: 100%;
		background: none;
		&__list {
			@include flexCenter;
			flex-wrap: wrap;
			gap: rem(34);
		}
		&__link {
			padding: 0;
			&:hover {
					color: $textColorHover;
			}
		}
	}
}

@media (min-width: $ultra) {
	.header {
		padding: rem(45) 0 rem(50);
	}
	.nav {
		&__list {
			gap: rem(68);
		}
	}
}

