.sections {
	&__posts {
		padding: rem(38) 0 rem(43);
	}
	&__instagram {
		padding: rem(37) 0 rem(42);
	}
}

.intro {
	&__img {
		width: 100%;
		max-height: rem(550);
	}
}

.posts {
	&__title {
		margin-bottom: rem(23);
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(30);
	}
	&__item {
	}
}
.post-block {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: rem(11);
	&__pic {
		width: rem(175);
		height: rem(175);
		flex: 0 0 rem(175);
		overflow: hidden;
	}
	&__img {
		@include imgCover;
		transition: scale .5s;
	}
	&__title {
		font-weight: 700;
		line-height: rem(30);
		color: $textColorTitle;
		text-transform: capitalize;
		@include mbNotLast(1);
		transition: color .3s;
	}
	&:hover &__title {
		color: $textColorHover;
	}
	&__meta {
		display: flex;
		&>* {
			font-weight: 400;
			font-size: rem(11);
			line-height: rem(16);
			color: $textColorSecondary;
		}
		&>*:not(:last-child) {
			margin-right: rem(8);
		}
		&>*:not(:last-child)::after {
			content: '/';
			margin-left: rem(8);
		}
	}
	&__text {
		display: none;
	}
}


.instagram {
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: rem(12);
	}
	&__title {
		font-size: rem(16);

	}
	&__account-link {
		display: none;
	}
	&__list {
		max-width: rem(301);
		max-height: rem(301);
	}
	&__item {
		overflow: hidden;
		@for $i from 2 through 4 {
			&:nth-child(#{$i}) {
					display: none;
			}
		}
	}
	&__img {
		@include imgCover;
		transition: filter .3s, scale .5s;
	}
}

@media (min-width: $phone) {
	.sections {
		&__posts {
			padding: rem(56) 0 rem(60);
		}
		&__instagram {
			padding: rem(47) 0 rem(49);
			background-color: $bgSectionInstagram;
		}
	}

	.posts {
		&__title {
			font-size: rem(16);
			margin-bottom: rem(24);
		}
		&__list {
			max-width: rem(560);
		}
		&__item {
		}
	}

	.post-block {
		flex-direction: row;
		gap: rem(21);
		&__pic {
			flex: 0 0 rem(160);
		}
			font-size: rem(16);
		&__text {
			display: block;
			font-size: rem(14);
			line-height: rem(26);
			color: $textColorBase;
		}
		&__meta {
			display: flex;
			@include mbNotLast(7);

			&>* {
					font-weight: 400;
					font-size: rem(12);
					line-height: rem(20);
			}
		}
	}

	.instagram {
		&__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: rem(35);
		}
		&__title {
			font-size: rem(16);
		}
		&__list {
			@include gridCards(2, 200px, 1fr, 0px, 10px);
			grid-template-rows: rem(250);
			max-width: 100%;
		}
		&__item {
			display: block;
			@for $i from 1 through 2 {
					&:nth-child(#{$i}) {
						display: block;
					}
			}
		}
		&__account-link {
			display: block;
			font-weight: 700;
			font-size: rem(13);
			color: $textColorTitle;
			text-transform: uppercase;
			transition: color .3s;
			&:after {
				content: '-';
					margin-left: rem(3);
			}
			&:hover {
					color: $textColorHover;
			}
		}
	}
}

@media (min-width: $tablet) {
	.instagram {
		&__list {
			@include gridCards(3, 200px, 1fr, 0px, 10px);
		}
		&__item {

			@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						display: block;
					}
			}
		}
	}
}

@media (min-width: $desktop) {

	.instagram {
		&__list {
			@include gridCards(3, 200px, 1fr, 0px, 10px);
		}
		&__item {
			@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						display: block;
					}
			}
		}
	}
}

@media (min-width: $ultra) {
.sections {
		&__posts {
			padding: rem(66) 0 rem(68);
		}
	}
	.posts {
		&__list {
			@include gridCards(2, 232px, 1fr, 32px, 50px);
			max-width: 100%;
		}
		&__item {
			&:nth-child(1) {
					order: 1;
			}
			&:nth-child(2) {
					order: 3;
			}
			&:nth-child(3) {
					order: 2;
			}
			&:nth-child(4) {
					order: 4;
			}
		}
	}
	.post-block {
		&__title {
			margin-top: rem(-2);
		}
	}
	.instagram {
		&__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: rem(24);
		}
		&__list {
			@include gridCards(4, 200px, 1fr, 0px, 10px);
			grid-template-rows: rem(285);
		}
		&__item {
			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
						display: block;
					}
			}
		}
	}
}
