// @mixin container{
//    max-width: 1200px;
//    min-width: 320px;
//    padding: 0 1em;
//    margin: 0 auto;
// }

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"),
		url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

//REM to PX
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}

// Image cover
@mixin imgCover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// Margin bottom for last child
@mixin mbNotLast($px) {
	&:not(:last-child) {
		margin-bottom: rem($px);
	}
}


// Grid cards
@mixin gridCards($repeat: auto-fit, $min: 280px, $max: 1fr, $gapY: 30px, $gapX: 30px) {
	display: grid;
	gap: $gapY $gapX;
	grid-template-columns: repeat($repeat, minmax($min, $max));
}
