$fontFamilyMain: 'Roboto',
sans-serif;
$fontSizeMain: rem(14);

$textColorTitle: #4E4E4E;
$textColorBase: #5C5C5C;
$textColorSecondary: #7C7C7C;
$textColorHover: #57A4A4;
$textColorFooter: #B9B9B9;
$textColorFooterTitle: #FEFEFE;
$colorMainBright: #FFF;
$colorMainDark: #000;
$bgMenuActive: #E5E5E5;
$bgSectionInstagram:#00000008;


$containerWidthMain: 1170;
$containerPaddingMain: 86;
$phone: '480px';
$tablet: '768px';
$desktop: '940px';
$ultra: $containerWidthMain+'px';

$containerPadPhone: rem(30);
$containerPadTablet: rem(35);
$containerPadDesktop: rem(50);
$containerPadUltra: rem(86);
