@use 'sass:math';
@import "settings/fonts";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "settings/mixins";
@import "settings/variables";
@import "settings/reset";



@import "sections/header";
@import "sections/main";
@import "sections/footer";

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: $fontFamilyMain;
	font-size: $fontSizeMain;
	color: $textColorBase;
	font-weight: 400;
	line-height: rem(22);

	@supports (overflow: clip) {
		overflow: clip;
	}

	>main {
		flex: 1 1 auto;
	}

	// Fix for sliders
	>* {
		min-width: 0;
	}
}


[class*="__container"] {
	max-width: calc(rem($containerWidthMain) + rem($containerPaddingMain) * 2);
	margin: 0 auto;
	padding: 0 rem($containerPaddingMain);
}

.title {
	font-weight: 700;
	color: $textColorTitle;
	text-transform: uppercase;
	&:before {
		content: '-';
		margin-right: rem(4);
	}
}

@media (max-width: $phone) {
	[class*="__container"] {
		padding: 0 $containerPadPhone;
	}
}

@media (min-width: $phone) {
	[class*="__container"] {
		padding: 0 $containerPadTablet;
	}
}

@media (min-width: $tablet) {
	[class*="__container"] {
		padding: 0 $containerPadDesktop;
	}
}

@media (min-width: $desktop) {
	[class*="__container"] {
		padding: 0 $containerPadUltra;
	}
}

@media (min-width: $ultra) {}




